.App {
  font-family: sans-serif;
  text-align: center;
}
.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
}

.display {
  display: flex;
  flex-direction: row-reverse;
  background-color: black;
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  text-align: right;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  display: flex;
  background-color: rgb(97, 97, 97);
  color: white;
  border-radius: 50%;
  font-size: 25px;
  height: 60px;
  width: 60px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.flex-two {
  display: flex;
  flex: 2;
  border-radius: 30px;
}

.opertations {
  background-color: orange;
}

.opertations:focus {
  background-color: white;
  color: orange;
}

.function {
  background-color: darkgrey;
  color: black;
}

.evaluate {
  background-color: orange;
}
